*{
    margin:0;
    padding: 0;
    text-align: center;

}

.head{
    
    background-color: black;
    color: white;
    line-height: 5rem;


}
.choices{
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 3rem;
  margin-top: 3rem;
}
.choice:hover{
    
    cursor:pointer;
    border-radius: 50%;
    background-color: black;
}
.choice{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 160px;
    width: 160px;
    object-fit: cover;
    border-radius: 50%;
}

.score-card{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5rem;
    margin-top: 5rem;

}
#csc,#ysc{
    font-size: 3rem;
}
#msg{
    background-color: black;
    color: white;
    font-size: 3rem;
   border-radius: 2rem;
  padding: 1rem;
  display: inline;

}
.msg-container{

    margin-top: 5rem;
}